body
{
    background-image:url("https://media1.popsugar-assets.com/files/thumbor/4bCEi79k1mD7kxBj_Stb0KTwxRw/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/04/15/113/n/24155406/a9d24d854c5cc440_IMG__20_/i/Princess-Cake.jpg");
}
span
{
    color: crimson;
    background-color: darkslateblue;
}